In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
## Dataset (Tips Dataset)
import seaborn as sns
df=sns.load_dataset('tips')

In [94]:
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [95]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [96]:
X=df[['tip', 'sex', 'smoker', 'day', 'time', 'size']]
y=df['total_bill']

In [97]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=10)

In [98]:
X_train.head()

      tip   sex smoker  day    time  size
58   1.76  Male    Yes  Sat  Dinner     2
1    1.66  Male     No  Sun  Dinner     3
2    3.50  Male     No  Sun  Dinner     3
68   2.01  Male     No  Sat  Dinner     2
184  3.00  Male    Yes  Sun  Dinner     2

In [99]:
from sklearn.preprocessing import LabelEncoder

In [100]:
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()

In [101]:
import warnings
warnings.filterwarnings('ignore')
X_train['sex']=le1.fit_transform(X_train['sex'])
X_train['smoker']=le2.fit_transform(X_train['smoker'])
X_train['time']=le3.fit_transform(X_train['time'])

In [102]:
X_train.head()

      tip  sex  smoker  day  time  size
58   1.76    1       1  Sat     0     2
1    1.66    1       0  Sun     0     3
2    3.50    1       0  Sun     0     3
68   2.01    1       0  Sat     0     2
184  3.00    1       1  Sun     0     2

In [103]:
X_test['sex']=le1.transform(X_test['sex'])
X_test['smoker']=le2.transform(X_test['smoker'])
X_test['time']=le3.transform(X_test['time'])

In [104]:
X_test.head()

      tip  sex  smoker  day  time  size
162  2.00    0       0  Sun     0     3
60   3.21    1       1  Sat     0     2
61   2.00    1       1  Sat     0     2
63   3.76    1       1  Sat     0     4
69   2.09    1       1  Sat     0     2

In [106]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [107]:
ct = ColumnTransformer(transformers=[('onehot',OneHotEncoder(drop='first'),[3])],remainder='passthrough')

In [111]:
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)

In [112]:
X_train = ct.fit_transform(X_train)

In [115]:
X_train

<183x105 sparse matrix of type '<class 'numpy.float64'>'
	with 762 stored elements in Compressed Sparse Row format>

In [119]:
X_test = ct.fit_transform(X_test)

In [121]:
from sklearn.svm import SVR
svr = SVR()

In [123]:
svr.fit(X_train,y_train)

SVR()

In [126]:
y_pred = svr.predict(X_train)

In [127]:
from sklearn.metrics import r2_score,mean_absolute_error
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

ValueError: Found input variables with inconsistent numbers of samples: [61, 183]